[submodule "utilities/NewClassProject"]
	path = utilities/NewClassProject
	url = https://github.com/DamnCoder/NewClassProject.git
[submodule "utilities/CMakeConfigure"]
	path = utilities/CMakeConfigure
	url = https://github.com/DamnCoder/CMakeConfigure.git
[submodule "externals/dcpp_math"]
	path = externals/dcpp_math
	url = https://github.com/DamnCoder/dcpp_math.git
[submodule "externals/dcpp_gameobject"]
	path = externals/dcpp_gameobject
	url = https://github.com/DamnCoder/dcpp_gameobject
